body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
    text-decoration: underline;
}

button:hover {
    background-color: #D3D3D3; 
    color: red; 
 transition: background-color 0.3s ease;
 cursor: pointer;
    border-radius: 4px;

}

button {

    text-align: center;
}

fieldset {
    border: 2px solid black;     
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 20px; 
    background-color: white;
}

fieldset input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;

}

h1 {
color: red;

}