body { background-color: white;


}
.div1{ 
padding: 20px; 
  border: 2px solid black; 
  border-radius: 8px; 
  text-align: center;  
  margin: 300px;	
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    }

header {
 width: 650px; 
  height: 270px; 
  margin: 50px; 
  padding: 55px; 
  border: 2px solid #2980b9; 
  border-radius: 8px; 
  text-align: center;  
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);


    }

.s1 {
width: 650px; 
  height: 160px; 
  margin: 50px; 
  padding: 55px; 
  border: 2px solid #2980b9; 
  border-radius: 8px; 
  text-align: center; 
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.s2 {
width: 650px; 
  height: 125px; 
  margin: 50px; 
  padding: 55px; 
  border: 2px solid #2980b9; 
  border-radius: 8px; 
  text-align: center; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.s3 {
width: 650px; 
  height: 125px; 
  margin: 50px; 
  padding: 55px; 
  border: 2px solid #2980b9; 
  border-radius: 8px; 
  text-align: center; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.s4	 {
width: 650px; 
  height: 125px; 
  margin: 50px; 
  padding: 55px; 
  border: 2px solid #2980b9; 
  border-radius: 8px; 
  text-align: center; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}


.i1 {
  float: left;
    width: 50%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.i2 {
    float: left;
    width: 50%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}


.f1 {float: left;
    width: 25%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;}

.d2 {float: left;
    width: 50%; 
    background-color:white;
    padding: 20px;
    box-sizing: border-box;}

.t1 {float: left;
    width: 25%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;}

.ex1 {float: left;
    width: 50%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;}

.l1 {float: left;
    width: 25%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;}

.c1 {float: left;
    width: 50%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;}

.d1 {float: left;
    width: 25%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;}

.ec1 {float: left;
    width: 50%; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;}


img {

height: 50%;
max-width: 40% ;
border-radius: 8px;
background-color: white;
color: white;
padding: 20px;
border: 2px solid black;
}

